/* 기본 설정 */
html {
    font-size: 10px;
}

body {
    background: no-repeat center url(../img/background.jpg);
    font-family: 'Alfa Slab One', cursive;
}

.main {
    position: relative;
}

img {
    width: 400px;
    display: none;
}

/* 가방 */
.bag {
    padding: 200px 50px 100px;
    background: no-repeat center url(../img/bag.png);
    background-size: 800px 940px;
    text-align: center;
}

.bag .tit-bag {
    font-size: 4.5rem;
    color: #f2f2f2;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 rgb(193, 193, 193), 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 22px 30px rgba(0, 0, 0, 0.9), 2px 2px 2px rgba(206, 89, 55, 0);
}

.bag #todo-form {
    padding-top: 20px;
}

.bag #todo-form input {
    outline: none;
    border-radius: 40px;
    border: none;
    opacity: 80%;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 30px;
    background: rgb(213, 213, 213);
    transition: .4s;
}

.bag #todo-form input:hover {
    opacity: 1;
    transform: scale(1.2);
}

.bag #todo-list {
    margin: 0 auto;
    font-family: 'Gowun Batang', serif;
    font-weight: 700;
    font-size: 2rem;
    width: 350px;
    height: 180px;
    padding: 10px 0;
    border-radius: 40px;
}

.bag #todo-list li {
    margin: 0 auto 10px;
}

.bag #todo-list button {
    border: none;
    background: none;
    vertical-align: middle;
}

/* 시계 */
#clock {
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: 3.6rem;
    color: #b7b7b7;
    text-shadow: #e0e0e0 1px 1px 0;
}

/* 광고 */
#ad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-family: 'Gowun Batang', serif;
    line-height: 32px;
}
#ad .brand {
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 1.5;
    color: #000000;
}

@media screen and (max-width: 429px) {
    .bag {
        padding: 100px 50px 100px;
        background-size: 500px;
    }
    .bag .tit-bag {
        font-size: 3rem;
    }
    /* 투두 리스트 */
    .bag #todo-list {
        /* margin: 0 auto;
        font-family: 'Gowun Batang', serif;
        font-weight: 700; */
        font-size: 2rem;
        width: 200px;
        height: 180px;
        /* padding: 10px 0;
        border-radius: 40px; */
    }
    /* 시계 */
    #clock {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2rem;
        color: #b7b7b7;
        text-shadow: #e0e0e0 1px 1px 0;
    }
    /* 광고 */
    #ad {
        padding: 0 30px 80px;
        font-size: 1.6rem;
        font-family: 'Gowun Batang', serif;
        line-height: 32px;
    }
}