/* 기본 설정 */
html {
    font-size: 10px;
}

body {
    background: no-repeat center url(../img/background.jpg);
    font-family: 'Alfa Slab One', cursive;
}

.main {
    position: relative;
}

img {
    width: 400px;
    display: none;
}

/* 가방 */
.bag {
    padding: 150px 50px 150px;
    background: no-repeat center url(../img/bag.png);
    background-size: 800px 940px;
    text-align: center;
}

.bag .tit-bag {
    font-size: 4.4rem;
    margin-bottom: 20px;
    letter-spacing: .1em;
    color: #fffff5e0;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}

.bag #todo-form input {
    outline: none;
    border-radius: 40px;
    border: none;
    opacity: .8;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 30px;
    background: rgb(255, 255, 255);
    transition: .4s;
    cursor: pointer;
}

.bag #todo-form input:hover {
    opacity: 1;
    transform: scale(1.2);
}

.bag #todo-form input::placeholder {
    color: #4d4d4dfe;
}

.bag #todo-list {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    font-family: 'Gowun Batang', serif;
    font-weight: 700;
    font-size: 2.2rem;
    height: 250px;
    padding: 10px 0;
    border-radius: 40px;
    text-shadow: #e0e0e0 2px 2px 0;
}

.bag #todo-list button {
    border: none;
    background: none;
    padding: 0 0 0 3px;
    line-height: 2.5rem;
    font-size: 2.5rem;
    color: rgb(99, 99, 99);
}

/* 시계 */
#clock {
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: 3.6rem;
    color: #b7b7b7;
    text-shadow: #e0e0e0 1px 1px 0;
}

/* 광고 */
#ad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-family: 'Gowun Batang', serif;
    line-height: 32px;
}

#ad .brand {
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 1.5;
    color: #000000;
}

@media screen and (max-width: 429px) {
    .bag {
        padding: 100px 30px 120px;
        background-size: 420px;
    }

    .bag .tit-bag {
        font-size: 3.7rem;
    }

    /* 투두 리스트 */
    .bag #todo-form input {
        opacity: .8;
        padding: 5px 0;
        font-size: 1.4rem;
    }

    .bag #todo-form input:hover {
        transform: scale(1);
    }

    .bag #todo-list {
        font-size: 2rem;
        width: 70%;
        height: 140px;
        text-shadow: #e0e0e0 1px 1px 0;
    }

    /* 시계 */
    #clock {
        display: none;
    }

    /* 광고 */
    #ad {
        padding: 0 30px 80px;
        font-size: 1.6rem;
        font-family: 'Gowun Batang', serif;
        line-height: 32px;
    }
}